label{
	color: white;
}


#form2{
	letter-spacing: 0.5px;
	color: white;
	margin: auto;
	width: 490px;
	background: rgba(0,0,0,0.8);
	padding: 15px 45px; /* 20px se va dentro del form*/
	border-radius: 7px;
	margin-top: 2px;
}

#formulario2 {
    display: none;
}

#fecha, #titulo{
	background-color: white;
	color: black;
	width: 100%;
	margin-bottom: 10px;
	padding: 7px;
	font-size: 17px;
	border: none;
}

#descripcion{
     color: black;
	width: 100%;
	height: 160px;
}

#btndefinirrango2, #nuevo, #finalizar{
	margin-bottom: 10px;
	width: 100%;
	background: #31384A;
	color: white;
	padding: 20px;
	font-size: 21px;

}

#btndefinirrango:hover{
cursor: pointer;
}

/* -- Media Querie -- */

@media (max-width:799px) {

.jumbotron {
	padding: 0;
}
    
label{
    font-size: 11pt;
    margin-top: -2px;
}

h1 {
    font-size: 150%;
}

#fecha, #titulo{
	margin-bottom: 7px;
	padding: 3px;
	font-size: 14px;
}

textarea{
	height: 120px;
}

#btndefinirrango, #nuevo, #finalizar{
    margin-top: 1.3px;
	padding: 10px;
    font-size: 15pt;
}
} 


@media (min-width: 520px) and (max-width: 619px) {
.jumbotron {
	padding: 0;
}
    
label{
    font-size: 12pt;
    margin-top: -2px;
}

h1 {
    font-size: 160%;
}

#fecha, #titulo{
	margin-bottom: 9px;
	padding: 4px;
	font-size: 14px;
}

textarea{
	height: 130px;
}

#btndefinirrango, #nuevo, #finalizar{
    margin-top: 1.3px;
	padding: 12px;
    font-size: 16pt;

}
}

@media (min-width:520px) and (max-width: 799px) { 
    
.jumbotron {
	padding: 0;
}
    
label{
    font-size: 14pt;
    margin-top: -2px;
}

h1 {
    font-size: 175%;
}

#fecha, #titulo{
	margin-bottom: 9px;
	padding: 4px;
	font-size: 17px;
}

textarea{
	height: 135px;
}

#btndefinirrango, #nuevo, #finalizar{
    margin-top: 1px;
	padding: 12px;
    font-size: 17pt;

}
}

@media (min-width:799px) and (max-width: 1200px) { 
    
.jumbotron {
	padding: 0;
}
    
label{
    font-size: 16pt;
    margin-top: -2px;
}

h1 {
    font-size: 175%;
}

#fecha, #titulo{
	margin-bottom: 10px;
	padding: 5px;
	font-size: 20px;
}

textarea{
	height: 140px;
}

#btndefinirrango, #nuevo, #finalizar{
    margin-top: 1px;
	padding: 12px;
    font-size: 18pt;

}
}